@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.size-container, .bg-nosotros main, .bg-tiendas main, main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: white;
  z-index: 100;
  transition: all 0.5s;
  padding: 7px;
  box-shadow: rgba(133, 132, 132, 0.71) 0px 3px 5px;
}
header.header-pos {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.5s;
}
header.header-pos nav {
  justify-content: center;
}
header.header-pos .navbar-nav {
  display: flex;
  padding-left: 20px;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
header.header-pos li a {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(0, 0, 0);
  transition: 0, 5s;
  text-decoration: none;
}
header.header-pos li a:hover {
  color: #cf32ff;
}
header.header-pos img {
  float: left;
  max-height: 70px;
}

section .video2 {
  position: relative;
  margin-top: 85px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

main .parrafo-inicio-container {
  width: 100%;
  padding: 100px 0 100px 0;
}
main .parrafo-inicio-container .slogan {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
}
main .parrafo-inicio-container .parrafo-inicio {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}
main .galeria-index {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, auto);
  margin-top: 20px;
  grid-template-areas: "img1 img2 img3" "img1-txt img2-txt img3-txt";
}
main .galeria-index .img1 {
  grid-area: img1;
  width: 100%;
  height: 100%;
}
main .galeria-index .img2 {
  grid-area: img2;
  width: 100%;
  height: 100%;
}
main .galeria-index .img3 {
  grid-area: img3;
  width: 100%;
  height: 100%;
}
main .galeria-index .img1-txt {
  grid-area: img1-txt;
  margin-top: 15px;
  text-align: center;
}
main .galeria-index .img2-txt {
  grid-area: img2-txt;
  margin-top: 15px;
  text-align: center;
}
main .galeria-index .img3-txt {
  grid-area: img3-txt;
  margin-top: 15px;
  text-align: center;
}
main .galeria-index p {
  font-family: "Nunito Sans", sans-serif;
}
main .galeria-index2 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(5, 120px);
  margin-top: 20px;
  grid-template-areas: "txt1 txt1 imgchanchito imgchanchito " "txt2 txt2 imgchanchito imgchanchito" "txt3 txt3 imgchanchito imgchanchito" "txt4 txt4 imgchanchito imgchanchito" "txt4 txt4 imgchanchito imgchanchito";
}
main .galeria-index2 .img-chanchito-grid {
  grid-area: imgchanchito;
  width: 100%;
  height: 100%;
}
main .galeria-index2 .txt1 {
  grid-area: txt1;
  font-size: 60px;
  padding-top: 60px;
  text-align: center;
}
main .galeria-index2 .txt2 {
  grid-area: txt2;
  padding-top: 60px;
  color: rgb(66, 64, 64);
}
main .galeria-index2 .txt3 {
  grid-area: txt3;
  padding-top: 10px;
  color: rgb(66, 64, 64);
}
main .galeria-index2 .txt4 {
  grid-area: txt4;
  color: rgb(66, 64, 64);
}
main .galeria-index3 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(5, 120px);
  margin-top: 20px;
  grid-template-areas: " imgcollar imgcollar txt1-2 txt1-2 " " imgcollar imgcollar txt2-2 txt2-2" " imgcollar imgcollar txt3-2 txt3-2" " imgcollar imgcollar txt4 txt4" " imgcollar imgcollar txt4 txt4";
}
main .galeria-index3 .img-collar-grid {
  grid-area: imgcollar;
  width: 100%;
  height: 100%;
}
main .galeria-index3 .txt1-2 {
  grid-area: txt1-2;
  font-size: 50px;
  text-align: center;
}
main .galeria-index3 .txt2-2 {
  grid-area: txt2-2;
  padding-top: 60px;
  color: rgb(66, 64, 64);
}
main .galeria-index3 .txt3-2 {
  grid-area: txt3-2;
  padding-top: 60px;
  color: rgb(66, 64, 64);
}
main .galeria-index4 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  margin-top: 20px;
  grid-template-areas: " producto1 producto2 producto3 producto4 producto5 producto6 " " txt-producto1 txt-producto2 txt-producto3 txt-producto4 txt-producto5 txt-producto6";
}
main .galeria-index4 div {
  overflow: hidden;
}
main .galeria-index4 img:hover {
  transform: scale(1.2);
}
main .galeria-index4 .producto1 {
  grid-area: producto1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
main .galeria-index4 .producto2 {
  grid-area: producto2;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
main .galeria-index4 .producto3 {
  grid-area: producto3;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
main .galeria-index4 .producto4 {
  grid-area: producto4;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
main .galeria-index4 .producto5 {
  grid-area: producto5;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
main .galeria-index4 .producto6 {
  grid-area: producto6;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
main .galeria-index4 .txt-producto1 {
  grid-area: txt-producto1;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}
main .galeria-index4 .txt-producto2 {
  grid-area: txt-producto2;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}
main .galeria-index4 .txt-producto3 {
  grid-area: txt-producto3;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}
main .galeria-index4 .txt-producto4 {
  grid-area: txt-producto4;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}
main .galeria-index4 .txt-producto5 {
  grid-area: txt-producto5;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}
main .galeria-index4 .txt-producto6 {
  grid-area: txt-producto6;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}

main .bg-joyeria {
  margin-top: 150px;
}
main .bg-joyeria .titulo-joyeria {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 100px;
}
main .product-grid {
  font-family: "Nunito Sans", sans-serif;
  box-shadow: rgba(144, 84, 172, 0.342) 0px 5px 10px;
}
main .product-grid .product-image {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
main .product-grid .product-image .image {
  display: block;
}
main .product-grid .product-image .image img {
  width: 100%;
  height: auto;
  opacity: 1;
}
main .product-grid .product-image .image img.img-1 {
  transition: all 0.2s ease 0s;
}
main .product-grid .product-image .image img.img-1:hover {
  opacity: 0;
}
main .product-grid .product-image .image img.img-2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s ease 0s;
}
main .product-grid .product-image .image img.img-2:hover {
  opacity: 1;
}
main .product-grid .product-content {
  background: #ffffff;
  padding: 20px;
}
main .product-grid .product-content .title {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
main .product-grid .product-content .title a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
main .product-grid .product-content .title a:hover {
  color: #bc36d6;
}
main .product-grid .product-content .price {
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
main .product-grid .product-content .price span {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 5px;
}
main .product-grid .product-hot-label {
  color: #fff;
  background: #eb461d;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
main .product-grid .product-exclusive-label {
  color: #fff;
  background: #aa40e7;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.body-cot {
  background: linear-gradient(rgba(245, 140, 215, 0.2), rgba(173, 135, 216, 0.2)), url("../assets/img/Choosing-the-Best-Gold-For-Your-Skin.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 100px;
  margin-bottom: -100px;
}
.body-cot main .size-container .formulario, .body-cot main main .formulario {
  background-color: rgba(241, 233, 233, 0.6);
  padding: 20px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.body-cot main .size-container .formulario .form-group, .body-cot main main .formulario .form-group {
  padding: 20px;
  resize: none;
}
.body-cot main .size-container .formulario .form-group .form-text, .body-cot main main .formulario .form-group .form-text {
  text-align: center;
}
.body-cot main .size-container button, .body-cot main main button {
  padding-left: 50px;
  padding-right: 50px;
}

.bg-nov {
  margin-top: 100px;
}
.bg-nov .img-nov-disney img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

main .product-grid-nov {
  font-family: "Nunito Sans", sans-serif;
}
main .product-grid-nov .product-image-nov {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: block;
}
main .product-grid-nov .product-image-nov img {
  width: 100%;
  height: auto;
}
main .product-grid-nov .product-image-nov img.img-1-nov {
  transition: all 0.5s ease 0s;
}
main .product-grid-nov .product-image-nov img.img-1-nov:hover {
  transform: scale(1.1);
}
main .product-grid-nov .product-content-nov {
  background: #ffffff;
  padding: 20px;
}
main .product-grid-nov .product-content-nov .title-nov {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
main .product-grid-nov .product-content-nov .price {
  color: #a3a3a3;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
main .product-grid-nov .product-exclusive-label {
  color: #fff;
  background-image: linear-gradient(to top, #c276e6 0%, #f58cd7 100%);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.bg-tiendas {
  margin-top: 110px;
  padding-top: 120px;
  margin-bottom: -100px;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(245, 140, 215, 0.6), rgba(173, 135, 216, 0.4)), url("../assets/img/Sell-gold-1440x960.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-tiendas main h1 {
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  padding-bottom: 75px;
}
.bg-tiendas main .card-maps {
  padding: 30px 30px 150px 30px;
}
.bg-tiendas main .card-maps .card {
  padding: 10px;
  box-shadow: rgba(56, 55, 55, 0.6) 0px 5px 5px;
}

.bg-nosotros {
  margin-top: 110px;
  padding: 120px;
  margin-bottom: -100px;
  background: linear-gradient(rgba(182, 97, 158, 0.75), rgba(123, 94, 156, 0.75)), url("../assets/img/iStock-494833184-gold-jewelry.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-nosotros main .h1-nosotros {
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  padding-bottom: 75px;
}
.bg-nosotros main p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

footer {
  background-image: linear-gradient(to top, #ad87d8 0%, #f58cd7 100%);
  color: white;
  padding-top: 100px;
  margin-top: 100px;
}
footer .size-container, footer main, footer .bg-tiendas main, .bg-tiendas footer main, footer .bg-nosotros main, .bg-nosotros footer main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
footer .size-container .contacto-footer, footer main .contacto-footer {
  padding-bottom: 50px;
}
footer .size-container .contacto-footer ul, footer main .contacto-footer ul {
  padding-right: 20rem;
}
footer .size-container .contacto-footer ul .font-bold, footer main .contacto-footer ul .font-bold {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}
footer .size-container .contacto-footer ul li, footer main .contacto-footer ul li {
  list-style: none;
}
footer .size-container .contacto-footer ul li a, footer main .contacto-footer ul li a {
  font-family: "Nunito Sans", sans-serif;
  transition: 0, 5s;
  text-decoration: none;
}
footer .size-container .contacto-footer ul li a:hover, footer main .contacto-footer ul li a:hover {
  color: #cf32ff;
}
footer .size-container .contacto-footer ul li a i, footer main .contacto-footer ul li a i {
  font-size: x-large;
}
footer .size-container p, footer main p, footer .bg-tiendas main p, .bg-tiendas footer main p, footer .bg-nosotros main p, .bg-nosotros footer main p {
  font-family: "Nunito Sans", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
footer .size-container .newsletter, footer main .newsletter {
  width: 300px;
  padding: 10px 20px;
  border-color: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 15px;
  background: transparent;
  transition: 0.5s;
}
footer .size-container .newsletter:focus, footer main .newsletter:focus {
  outline: none;
}

@media (max-width: 749px) {
  .video2 {
    display: none;
  }
  .bg-nosotros {
    padding: 20px;
  }
  .bg-nosotros p {
    font-size: 17px;
  }
  .product-grid {
    margin-bottom: 20px;
  }
  main.size-container .parrafo-inicio-container .slogan, main .parrafo-inicio-container .slogan {
    font-size: 50px;
  }
  main.size-container .galeria-index, main .galeria-index {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(6, auto);
    margin-top: 20px;
    grid-template-areas: "img1" "img1-txt" "img2" "img2-txt" "img3" "img3-txt";
  }
  main.size-container .galeria-index .img1-txt, main .galeria-index .img1-txt {
    grid-area: img1-txt;
    margin-top: 15px;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  main.size-container .galeria-index .img2-txt, main .galeria-index .img2-txt {
    grid-area: img2-txt;
    margin-top: 15px;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  main.size-container .galeria-index .img3-txt, main .galeria-index .img3-txt {
    grid-area: img3-txt;
    margin-top: 15px;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  main.size-container .galeria-index2, main .galeria-index2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 170px);
    grid-template-rows: repeat(5, auto);
    margin-top: 20px;
    grid-template-areas: "imgchanchito imgchanchito   " "txt1  txt1 " "txt2   txt2" "txt3   txt3" "txt4   txt4";
  }
  main.size-container .galeria-index2 .txt1, main .galeria-index2 .txt1 {
    grid-area: txt1;
    font-size: 50px;
    margin-top: -100px;
    text-align: center;
  }
  main.size-container .galeria-index2 .txt2, main .galeria-index2 .txt2 {
    grid-area: txt2;
    margin-top: -50px;
    text-align: center;
    color: rgb(66, 64, 64);
  }
  main.size-container .galeria-index2 .txt3, main .galeria-index2 .txt3 {
    grid-area: txt3;
    text-align: center;
    color: rgb(66, 64, 64);
  }
  main.size-container .galeria-index2 .txt4, main .galeria-index2 .txt4 {
    grid-area: txt4;
    text-align: center;
    color: rgb(66, 64, 64);
  }
  main.size-container .galeria-index3, main .galeria-index3 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(5, auto);
    margin-top: 100px;
    grid-template-areas: " imgcollar imgcollar " " txt1-2 txt1-2  " " txt2-2 txt2-2 " " txt3-2 txt3-2 " " txt4 txt4 ";
  }
  main.size-container .galeria-index3 .txt1-2, main .galeria-index3 .txt1-2 {
    grid-area: txt1-2;
    font-size: 35px;
    text-align: center;
  }
  main.size-container .galeria-index3 .txt2-2, main .galeria-index3 .txt2-2 {
    grid-area: txt2-2;
    margin-top: -20px;
    padding: 20px;
    text-align: center;
  }
  main.size-container .galeria-index3 .txt3-2, main .galeria-index3 .txt3-2 {
    grid-area: txt3-2;
    margin-top: -20px;
    padding: 20px;
    text-align: center;
  }
  main.size-container .galeria-index4, main .galeria-index4 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(12, auto);
    margin-top: 20px;
    row-gap: 10px;
    grid-template-areas: "producto1" "txt-producto1" "producto2" "txt-producto2" "producto3" "txt-producto3" "producto4" "txt-producto4" "producto5" "txt-producto5" "producto6" "txt-producto6";
  }
  footer .size-container .newsletter, footer main .newsletter {
    width: 40%;
  }
  footer .size-container button, footer main button, footer .bg-tiendas main button, .bg-tiendas footer main button, footer .bg-nosotros main button, .bg-nosotros footer main button {
    width: 30%;
  }
}
@media (min-width: 750px) and (max-width: 1349px) {
  .product-grid {
    margin-bottom: 20px;
  }
  main.size-container, main, .bg-tiendas main, .bg-nosotros main {
    max-width: 1100px;
  }
  main.size-container .galeria-index, main .galeria-index {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img1 img2" "img1-txt img2-txt" "img3 img3" "img3-txt img3-";
    column-gap: 10px;
  }
  main.size-container .galeria-index2, main .galeria-index2 {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "imgchanchito imgchanchito   " "txt1  txt1 " "txt2   txt2" "txt3   txt3" "txt4   txt4";
  }
  main.size-container .galeria-index2 .txt1, main .galeria-index2 .txt1 {
    grid-area: txt1;
    font-size: 45px;
    margin-top: -100px;
  }
  main.size-container .galeria-index2 .txt2, main .galeria-index2 .txt2 {
    grid-area: txt2;
    margin-top: -50px;
    text-align: center;
  }
  main.size-container .galeria-index2 .txt3, main .galeria-index2 .txt3 {
    grid-area: txt3;
    text-align: center;
  }
  main.size-container .galeria-index2 .txt4, main .galeria-index2 .txt4 {
    grid-area: txt4;
    text-align: center;
  }
  main.size-container .galeria-index3, main .galeria-index3 {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, auto);
    margin-top: 100px;
    grid-template-areas: " imgcollar imgcollar " " txt1-2 txt1-2  " " txt2-2 txt2-2 " " txt3-2 txt3-2 " " txt4 txt4 ";
  }
  main.size-container .galeria-index3 .txt1-2, main .galeria-index3 .txt1-2 {
    grid-area: txt1-2;
    font-size: 40px;
    text-align: center;
  }
  main.size-container .galeria-index3 .txt2-2, main .galeria-index3 .txt2-2 {
    grid-area: txt2-2;
    margin-top: -50px;
    text-align: center;
  }
  main.size-container .galeria-index3 .txt3-2, main .galeria-index3 .txt3-2 {
    grid-area: txt3-2;
    margin-top: -50px;
    text-align: center;
  }
  main.size-container .galeria-index4, main .galeria-index4 {
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: " producto1 producto2" " txt-producto1 txt-producto2 " "producto3 producto4" "txt-producto3 txt-producto4 " "producto5 producto6" "txt-producto5 txt-producto6";
  }
}
@media (min-width: 1350px) {
  main {
    max-width: 1300px;
  }
  main .galeria-index {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "img1 img2 img3" "img1-txt img2-txt img3-txt";
  }
}

/*# sourceMappingURL=estilos.css.map */
