@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  /* background-color: rgba(0, 0, 0, .4); */
  background-color: white;
  z-index: 100;
  transition: all 0.5s;
  padding: 7px;
  box-shadow: rgba(133, 132, 132, 0.71) 0px 3px 5px;
}

.header-pos {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header-sm {
  position: fixed;

  transition: all 0.5s;

  /* padding: 100px; */
}
header img {
  float: left;
  /* padding-left: 30px; */
  max-height: 70px;
}

li a.nav-link {
  color: #cf32ff;
}

.img-size {
  max-width: 100%;
  height: auto;
}

.size-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.recuadro-transparente {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
}
.recuadro-solido {
  background-color: black;
  width: 100%;
  height: 120px;
  position: absolute;
  top: 850px;
}

.img-chanchito {
  position: relative;
  width: 100%;
}

.titulo {
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 5vw;
  display: flex;
  justify-content: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  padding-bottom: 75px;
}

nav,
ul {
  display: flex;
}
nav {
  justify-content: center;
}

ul {
  padding-left: 20px;
  /* align-items:center;  */
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

footer ul {
  padding-right: 15rem;
}

li a {
  font-family: "Nunito Sans", sans-serif;
  /* font-weight: bolder; */
  color: rgb(0, 0, 0);
  transition: 0, 5s;
  text-decoration: none;
}

ul.navbar-nav li a:hover {
  color: #cf32ff;
}
.parrafo-inicio-container-img {
  background-image: url("../assets/img/3d-design-rings.jpg");
  filter: opacity(50%);
}
.parrafo-inicio-container {
  width: 100%;
  padding: 100px 0 100px 0;
}

.parrafo-inicio {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}
.slogan {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
}


/* zoom en la imagen al pasar el mouse por encima */
.div-img-container {
  width: 400px;
  height: 100%;
  overflow: hidden;
  margin: 20px;
}
.img-inicio {
  width: 270px;
  transition: 0.5s;
  object-fit: cover;
}
.img-inicio:hover {
  transform: scale(1.2);
}
/* fin del zoom */

i {
  font-size: xx-large;
}

/*  grid 1 INICIO */
.galeria-index {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, auto);
  margin-top: 20px;
  grid-template-areas:
    "img1 img2 img3"
    "img1-txt img2-txt img3-txt";
  /* column-gap: 10px; */
  /* overflow: hidden; */
}
.img1 {
  grid-area: img1;
  width: 100%;
  height: 100%;
}
.img2 {
  grid-area: img2;
  width: 100%;
  height: 100%;
}
.img3 {
  grid-area: img3;
  width: 100%;
  height: 100%;
}

.txt-nunito {
  font-family: "Nunito Sans", sans-serif;
}
.img1-txt {
  grid-area: img1-txt;
  margin-top: 15px;
  text-align: center;
}
.img2-txt {
  grid-area: img2-txt;
  margin-top: 15px;
  text-align: center;
}
.img3-txt {
  grid-area: img3-txt;
  margin-top: 15px;
  text-align: center;
}
/* fin grid 1 INICIO */

/* grid 2 INICIO */
.galeria-index2 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(5, 120px);
  margin-top: 20px;
  grid-template-areas:
    "txt1 txt1 imgchanchito imgchanchito "
    "txt2 txt2 imgchanchito imgchanchito"
    "txt3 txt3 imgchanchito imgchanchito"
    "txt4 txt4 imgchanchito imgchanchito"
    "txt4 txt4 imgchanchito imgchanchito";
}

.img-chanchito-grid {
  grid-area: imgchanchito;
  width: 100%;
  height: 100%;
}

.txt1 {
  grid-area: txt1;
  font-size: 60px;
  /* margin-top: 100px; */
  padding-top: 60px;
  text-align: center;
}
.txt2 {
  grid-area: txt2;
  /* margin-top: 15px; */
  padding-top: 60px;
  /* text-align: center */
  color: rgb(66, 64, 64);
}
.txt3 {
  grid-area: txt3;
  padding-top: 10px;
  /* margin-top: 15px; */
  /* text-align: center */
  color: rgb(66, 64, 64);
}
.txt4 {
  grid-area: txt4;
  /* margin-top: 15px; */
  /* text-align: center */
  color: rgb(66, 64, 64);
}

/* fin grid 2 INICIO */

/* grid 3 INICIO */
.galeria-index3 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(5, 120px);
  margin-top: 20px;
  grid-template-areas:
    " imgcollar imgcollar txt1-2 txt1-2 "
    " imgcollar imgcollar txt2-2 txt2-2"
    " imgcollar imgcollar txt3-2 txt3-2"
    " imgcollar imgcollar txt4 txt4"
    " imgcollar imgcollar txt4 txt4";
}
.img-collar-grid {
  grid-area: imgcollar;
  width: 100%;
  height: 100%;
}
.txt1-2 {
  grid-area: txt1-2;
  font-size: 50px;
  text-align: center;
}
.txt2-2 {
  grid-area: txt2-2;
  padding-top: 60px;
}
.txt3-2 {
  grid-area: txt3-2;
  padding-top: 60px;
}
/* fin grid 3 INICIO */

/* grid 4 INICIO */
.galeria-index4 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  margin-top: 20px;
  grid-template-areas:
    " producto1 producto2 producto3 producto4 producto5 producto6 "
    " txt-producto1 txt-producto2 txt-producto3 txt-producto4 txt-producto5 txt-producto6";
}

section.galeria-index4 div {
  overflow: hidden;
}
section.galeria-index4 div img:hover {
  transform: scale(1.2);
}
.producto1 {
  grid-area: producto1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.producto2 {
  grid-area: producto2;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.producto3 {
  grid-area: producto3;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.producto4 {
  grid-area: producto4;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.producto5 {
  grid-area: producto5;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.producto6 {
  grid-area: producto6;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.txt-producto1 {
  grid-area: txt-producto1;
  font-size: 20px;
  text-align: center;
}
.txt-producto2 {
  grid-area: txt-producto2;
  font-size: 20px;
  text-align: center;
}
.txt-producto3 {
  grid-area: txt-producto3;
  font-size: 20px;
  text-align: center;
}
.txt-producto4 {
  grid-area: txt-producto4;
  font-size: 20px;
  text-align: center;
}
.txt-producto5 {
  grid-area: txt-producto5;
  font-size: 20px;
  text-align: center;
}
.txt-producto6 {
  grid-area: txt-producto6;
  font-size: 20px;
  text-align: center;
}
/* fin grid 4 INICIO */

/* NOVEDADES */

.galeria-novedades-vd {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(2, auto);
  margin-top: 20px;
  grid-template-areas:
    "vd1 vd2"
    "vd1-txt vd1-txt";
}

.galeria-novedades-img {
  display: grid;
  /* justify-content: space-around; */
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(6, auto);
  margin-top: 20px;
  row-gap: 20px;
  column-gap: 40px;
  grid-template-areas:
    "img1nov img2nov img3nov"
    "img1nov-txt img2nov-txt img3nov-txt"
    "img4nov img5nov img6nov"
    "img4nov-txt img5nov-txt img6nov-txt";
  /* column-gap: 10px; */
  /* overflow: hidden; */
}

/* img grid NOVEDADES */
.img1nov {
  grid-area: img1nov;
  width: 100%;
  height: 100%;
  margin-top: 15px;

  /* margin: 50px; */
}
.img2nov {
  grid-area: img2nov;
  width: 100%;
  height: 100%;
  margin-top: 15px;

  /* margin: 50px; */
}
.img3nov {
  grid-area: img3nov;
  width: 100%;
  height: 100%;
  margin-top: 15px;

  /* margin: 50px; */
}
.img4nov {
  grid-area: img4nov;
  width: 100%;
  height: 100%;
  margin-top: 15px;

  /* margin: 50px; */
}
.img5nov {
  grid-area: img5nov;
  width: 100%;
  height: 100%;
  margin-top: 15px;

  /* margin: 50px; */
}
.img6nov {
  grid-area: img6nov;
  width: 100%;
  height: 100%;
  margin-top: 15px;

  /* margin: 50px; */
}

/* texto grid NOVEDADES */
.img1nov-txt {
  grid-area: img1nov-txt;
  /* margin-top: 15px; */
  text-align: center;
}
.img2nov-txt {
  grid-area: img2nov-txt;
  /* margin-top: 15px; */
  text-align: center;
}
.img3nov-txt {
  grid-area: img3nov-txt;
  /* margin-top: 15px; */
  text-align: center;
}
.img4nov-txt {
  grid-area: img4nov-txt;
  /* margin-top: 15px; */
  text-align: center;
}
.img5nov-txt {
  grid-area: img5nov-txt;
  /* margin-top: 15px; */
  text-align: center;
}
.img6nov-txt {
  grid-area: img6nov-txt;
  /* margin-top: 15px; */
  text-align: center;
}

.vd1 {
  grid-area: vd1;
  width: 100%;
  height: 100%;

  /* margin: 50px; */
}
.vd2 {
  grid-area: vd2;
  width: 100%;
  height: 100%;
  /* margin: 50px; */
}
.vd3 {
  grid-area: vd3;
  width: 100%;
  height: 100%;
  /* margin: 50px; */
}

.vd1-txt {
  grid-area: vd1-txt;
  margin-top: 30px;
  width: 100%;
  padding: 50px;
  background-color: antiquewhite;
  text-align: center;
}
.vd2-txt {
  grid-area: vd2-txt;
  margin-top: 30px;
  text-align: center;
}
.vd3-txt {
  grid-area: vd3-txt;
  margin-top: 30px;
  text-align: center;
}

.video2 {
  position: relative;
  margin-top: 85px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* novedades 2.0 */

.bg-nov {
  margin-top: 100px;
}
.titulo-nov {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 100px;
}
.titulo-disney {
  font-size: 75px;
  /* font-weight: lighter; */
  text-align: center;
}
.img-nov-disney img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.product-grid-nov {
  font-family: "Nunito Sans", sans-serif;
  /* box-shadow: rgba(144, 84, 172, 0.342) 0px 5px 10px; */
}

.product-grid-nov .product-image-nov {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid-nov .product-image-nov a.image-nov {
  display: block;
}
.product-grid-nov .product-image-nov img {
  width: 100%;
  height: auto;
}
.product-grid-nov .product-image-nov .img-1-nov {
  transition: all 0.5s ease 0s;
}
.product-grid-nov:hover .product-image-nov .img-1-nov {
  transform: scale(1.1);
}

.product-grid-nov .product-content-nov {
  background: #ffffff;
  padding: 20px;
}

.product-grid-nov .title-nov {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  /* text-transform: capitalize; */
}
.product-grid-nov .price {
  color: #a3a3a3;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.product-grid-nov .product-exclusive-label {
  color: #fff;
  background-image: linear-gradient(to top, #c276e6 0%, #f58cd7 100%);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}


/* cotizacion */

.body-cot {
  background: linear-gradient(
      rgba(245, 140, 215, 0.2),
      rgba(173, 135, 216, 0.2)
    ),
    url("../assets/img/Choosing-the-Best-Gold-For-Your-Skin.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 100px;
  margin-bottom: -100px;
}

section.body-cot button {
  padding-left: 50px;
  padding-right: 50px;
}

.formulario {
  background-color: rgba(241, 233, 233, 0.6);
  padding: 20px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  padding: 20px;
  resize: none;
}
.form-text {
  text-align: center;
}

/* NOSOTROS */

.bg-nosotros {
  margin-top: 110px;
  padding: 120px;
  margin-bottom: -100px;
  background: linear-gradient(
      rgba(182, 97, 158, 0.75),
      rgba(123, 94, 156, 0.75)
    ),
    url("../assets/img/iStock-494833184-gold-jewelry.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1-nosotros {
  color: white;
}

.bg-nosotros p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
.p-nosotros {
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
}

.espacio {
  margin: 120px;
}
footer {
  /* background-color: #e7e8d4; */
  /* background-color: rgb(168, 20, 236, .6); */
  /* background: linear-gradient(to bottom right, #cc00ff 0%, #ff00ff 76%); */
  /* background: linear-gradient(to bottom, #cc00ff 0%, #ff00ff 76%); */
  /* background: linear-gradient(to bottom, #cc33ff 0%, #ff00ff 76%); */
  /* background: linear-gradient(to bottom, #cc00ff 0%, #ff00ff 100%); */
  background-image: linear-gradient(to top, #ad87d8 0%, #f58cd7 100%);
  color: white;

  padding-top: 100px;
  /* padding-left: 30rem; */
  margin-top: 100px;
}

footer p {
  font-family: "Nunito Sans", sans-serif;
  /* font-weight: lighter; */
  color: rgb(255, 255, 255, 0.8);
}

.font-bold {
  font-weight: bold;
  color: rgb(255, 255, 255, 0.8);
}

input.newsletter {
  width: 300px;
  padding: 10px 20px;
  border-color: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 15px;
  background: transparent;
  transition: 0.5s;
}

input.newsletter:focus {
  outline: none;
}

.contacto-footer {
  padding-bottom: 50px;
}

/* tiendas */

.bg-tiendas {
  margin-top: 110px;
  padding-top: 120px;
  margin-bottom: -100px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      rgba(245, 140, 215, 0.6),
      rgba(173, 135, 216, 0.4)
    ),
    url("../assets/img/Sell-gold-1440x960.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.card-maps {
  /* margin-top: 150px; */
  padding: 30px 30px 150px 30px;
  /* max-width: 600px; */
}
div.card {
  padding: 20px;
}
.card {
  box-shadow: rgba(112, 111, 111, 0.6) 0px 5px 5px;
}

/* FIN TIENDAS */

/* JOYERIA */
/* JOYERIA */

.bg-joyeria {
  margin-top: 150px;
}
.titulo-joyeria {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 100px;
}

.product-grid {
  font-family: "Nunito Sans", sans-serif;
  box-shadow: rgba(144, 84, 172, 0.342) 0px 5px 10px;
}

.product-grid .product-image {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid .product-image a.image {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-grid .product-image .img-1 {
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-image .img-1 {
  opacity: 0;
}
.product-grid .product-image .img-2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-image .img-2 {
  opacity: 1;
}
.product-grid .product-hot-label,
.product-grid .product-discount-label {
  color: #fff;
  background: #eb461d;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-grid .product-exclusive-label {
  color: #fff;
  background: #aa40e7;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-grid .product-discount-label {
  background: #981be0;
  left: auto;
  right: 10px;
}

.product-grid .product-content {
  background: #ffffff;
  padding: 20px;
}

.product-grid .title {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
.product-grid .title a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover {
  color: #bc36d6;
}
.product-grid .price {
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.product-grid .price span {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 5px;
}
@media (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}

/* FIN JOYERIA */

@media (min-width: 1200px) {
  .size-container {
    max-width: 1500px;
  }
}

@media (max-width: 1300px) {
  /* Grids INICIO */

  .galeria-index {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(6, auto);
    margin-top: 20px;
    grid-template-areas:
      "img1 img2"
      "img1-txt img2-txt"
      "img3 img3"
      "img3-txt img3-";
    /* column-gap: 10px; */
    /* overflow: hidden; */
  }

  /* Producto chevre */
  .galeria-index2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, auto);
    margin-top: 20px;
    grid-template-areas:
      "imgchanchito imgchanchito   "
      "txt1  txt1 "
      "txt2   txt2"
      "txt3   txt3"
      "txt4   txt4";
  }
  .txt1 {
    grid-area: txt1;
    font-size: 60px;
    margin-top: -100px;
    text-align: center;
  }
  .txt2 {
    grid-area: txt2;
    margin-top: -50px;
    text-align: center;
    color: rgb(66, 64, 64);
  }
  .txt3 {
    grid-area: txt3;
    text-align: center;
    color: rgb(66, 64, 64);
  }
  .txt4 {
    grid-area: txt4;
    text-align: center;
    color: rgb(66, 64, 64);
  }

  /* Producto Collier */
  .galeria-index3 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, auto);
    margin-top: 100px;
    grid-template-areas:
      " imgcollar imgcollar "
      " txt1-2 txt1-2  "
      " txt2-2 txt2-2 "
      " txt3-2 txt3-2 "
      " txt4 txt4 ";
  }

  .txt1-2 {
    grid-area: txt1-2;
    font-size: 50px;
    /* margin-top: 100px; */
    /* padding-top: 60px; */
    text-align: center;
  }
  .txt2-2 {
    grid-area: txt2-2;
    /* font-size: 50px; */
    margin-top: -50px;
    /* padding-top: 60px; */
    text-align: center;
  }
  .txt3-2 {
    grid-area: txt3-2;
    /* font-size: 50px; */
    margin-top: -50px;
    /* padding-top: 60px; */
    text-align: center;
  }

  .galeria-index4 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(6, auto);
    margin-top: 20px;
    grid-template-areas:
      " producto1 producto2"
      " txt-producto1 txt-producto2 "
      "producto3 producto4"
      "txt-producto3 txt-producto4 "
      "producto5 producto6"
      "txt-producto5 txt-producto6";
  }
}

@media (max-width: 900px) {
  /* Grids INICIO */

  .galeria-index {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(6, auto);
    margin-top: 20px;
    grid-template-areas:
      "img1"
      "img1-txt"
      "img2"
      "img2-txt"
      "img3"
      "img3-txt";
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    /* overflow: hidden; */
  }

  .img1-txt {
    grid-area: img1-txt;
    margin-top: 15px;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  .img2-txt {
    grid-area: img2-txt;
    margin-top: 15px;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  .img3-txt {
    grid-area: img3-txt;
    margin-top: 15px;
    padding: 10px 0 10px 0;
    text-align: center;
  }

  /* Producto chevre */
  .galeria-index2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 170px);
    grid-template-rows: repeat(5, auto);
    margin-top: 20px;
    grid-template-areas:
      "imgchanchito imgchanchito   "
      "txt1  txt1 "
      "txt2   txt2"
      "txt3   txt3"
      "txt4   txt4";
  }
  .txt1 {
    grid-area: txt1;
    font-size: 50px;
    margin-top: -100px;
    text-align: center;
  }
  .txt2 {
    grid-area: txt2;
    margin-top: -50px;
    text-align: center;
    color: rgb(66, 64, 64);
  }
  .txt3 {
    grid-area: txt3;
    text-align: center;
    color: rgb(66, 64, 64);
  }
  .txt4 {
    grid-area: txt4;
    text-align: center;
    color: rgb(66, 64, 64);
  }

  /* Producto Collier */
  .galeria-index3 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(5, auto);
    margin-top: 100px;
    grid-template-areas:
      " imgcollar imgcollar "
      " txt1-2 txt1-2  "
      " txt2-2 txt2-2 "
      " txt3-2 txt3-2 "
      " txt4 txt4 ";
  }

  .txt1-2 {
    grid-area: txt1-2;
    font-size: 35px;
    /* margin-top: 100px; */
    /* padding-top: 60px; */
    text-align: center;
  }
  .txt2-2 {
    grid-area: txt2-2;
    /* font-size: 50px; */
    margin-top: -20px;
    padding: 20px;
    text-align: center;
  }
  .txt3-2 {
    grid-area: txt3-2;
    /* font-size: 50px; */
    margin-top: -20px;
    padding: 20px;
    text-align: center;
  }

  .galeria-index4 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(12, auto);
    margin-top: 20px;
    grid-template-areas:
      "producto1"
      "txt-producto1"
      "producto2"
      "txt-producto2"
      "producto3"
      "txt-producto3"
      "producto4"
      "txt-producto4"
      "producto5"
      "txt-producto5"
      "producto6"
      "txt-producto6";
  }

  .bg-nosotros {
    padding: 20px;
  }
  .bg-nosotros p {
    font-size: 17px;
  }
}

@media (max-width: 600px) {
  .video2 {
    display: none;
  }
  .slogan {
    font-size: 50px;
  }
}

@media (max-width: 450px) {
  .formulario {
    width: 20rem;
    height: auto;
    margin-top: 50px;
    margin-left: -90px;
  }
}
