@include respond-to(mobile) {
    .video2 {
        display: none;
    }
    .bg-nosotros {
        padding: 20px;
        p {
            font-size: 17px;
        }
    }

    .product-grid{
        margin-bottom: 20px;
    }
    

    main {
        &.size-container {
            .parrafo-inicio-container {
                .slogan {
                    font-size: 50px;
                }
            }

            .galeria-index {
                display: grid;
                justify-content: space-around;
                grid-template-columns: repeat(1, 350px);
                grid-template-rows: repeat(6, auto);
                margin-top: 20px;
                grid-template-areas:
                    "img1"
                    "img1-txt"
                    "img2"
                    "img2-txt"
                    "img3"
                    "img3-txt";

                .img1-txt {
                    grid-area: img1-txt;
                    margin-top: 15px;
                    padding: 10px 0 10px 0;
                    text-align: center;
                }

                .img2-txt {
                    grid-area: img2-txt;
                    margin-top: 15px;
                    padding: 10px 0 10px 0;
                    text-align: center;
                }

                .img3-txt {
                    grid-area: img3-txt;
                    margin-top: 15px;
                    padding: 10px 0 10px 0;
                    text-align: center;
                }
            }

            .galeria-index2 {
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(2, 170px);
                grid-template-rows: repeat(5, auto);
                margin-top: 20px;
                grid-template-areas:
                    "imgchanchito imgchanchito   "
                    "txt1  txt1 "
                    "txt2   txt2"
                    "txt3   txt3"
                    "txt4   txt4";


                .txt1 {
                    grid-area: txt1;
                    font-size: 50px;
                    margin-top: -100px;
                    text-align: center;
                }

                .txt2 {
                    grid-area: txt2;
                    margin-top: -50px;
                    text-align: center;
                    color: rgb(66, 64, 64);
                }

                .txt3 {
                    grid-area: txt3;
                    text-align: center;
                    color: rgb(66, 64, 64);
                }

                .txt4 {
                    grid-area: txt4;
                    text-align: center;
                    color: rgb(66, 64, 64);
                }
            }

            .galeria-index3 {
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(2, 200px);
                grid-template-rows: repeat(5, auto);
                margin-top: 100px;
                grid-template-areas:
                    " imgcollar imgcollar "
                    " txt1-2 txt1-2  "
                    " txt2-2 txt2-2 "
                    " txt3-2 txt3-2 "
                    " txt4 txt4 ";


                .txt1-2 {
                    grid-area: txt1-2;
                    font-size: 35px;
                    text-align: center;
                }

                .txt2-2 {
                    grid-area: txt2-2;
                    margin-top: -20px;
                    padding: 20px;
                    text-align: center;
                }

                .txt3-2 {
                    grid-area: txt3-2;
                    margin-top: -20px;
                    padding: 20px;
                    text-align: center;
                }
            }

            .galeria-index4 {
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(1, 300px);
                grid-template-rows: repeat(12, auto);
                margin-top: 20px;
                row-gap: 10px;
                grid-template-areas:
                    "producto1"
                    "txt-producto1"
                    "producto2"
                    "txt-producto2"
                    "producto3"
                    "txt-producto3"
                    "producto4"
                    "txt-producto4"
                    "producto5"
                    "txt-producto5"
                    "producto6"
                    "txt-producto6";
            }
        }
    }
    footer{

    .size-container{
        .newsletter{
            width: 40%;
        }
        button{
            width: 30%;
            
        }
    }
    }
}

@include respond-to(tablet) {
    .product-grid{
        margin-bottom: 20px;
    }
    main {
        &.size-container {
            max-width: 1100px;
            .galeria-index {

                grid-template-columns: repeat(2, 300px);
                grid-template-rows: repeat(6, auto);
                grid-template-areas:
                    "img1 img2"
                    "img1-txt img2-txt"
                    "img3 img3"
                    "img3-txt img3-";
                    column-gap: 10px;
            }

            .galeria-index2 {
                grid-template-columns: repeat(2, 300px);
                grid-template-rows: repeat(5, auto);
                grid-template-areas:
                    "imgchanchito imgchanchito   "
                    "txt1  txt1 "
                    "txt2   txt2"
                    "txt3   txt3"
                    "txt4   txt4";

                .txt1 {
                    grid-area: txt1;
                    font-size: 45px;
                    margin-top: -100px;
                }

                .txt2 {
                    grid-area: txt2;
                    margin-top: -50px;
                    text-align: center;
                }

                .txt3 {
                    grid-area: txt3;
                    text-align: center;
                }

                .txt4 {
                    grid-area: txt4;
                    text-align: center;
                }
            }

            .galeria-index3 {
                grid-template-columns: repeat(2, 300px);
                grid-template-rows: repeat(5, auto);
                margin-top: 100px;
                grid-template-areas:
                    " imgcollar imgcollar "
                    " txt1-2 txt1-2  "
                    " txt2-2 txt2-2 "
                    " txt3-2 txt3-2 "
                    " txt4 txt4 ";

                .txt1-2 {
                    grid-area: txt1-2;
                    font-size: 40px;
                    text-align: center;
                }

                .txt2-2 {
                    grid-area: txt2-2;
                    margin-top: -50px;
                    text-align: center;
                }

                .txt3-2 {
                    grid-area: txt3-2;
                    margin-top: -50px;
                    text-align: center;
                }
            }

            .galeria-index4 {

                grid-template-columns: repeat(2, 400px);
                grid-template-rows: repeat(6, auto);
                grid-template-areas:
                    " producto1 producto2"
                    " txt-producto1 txt-producto2 "
                    "producto3 producto4"
                    "txt-producto3 txt-producto4 "
                    "producto5 producto6"
                    "txt-producto5 txt-producto6";
            }
        }
    }
}



@include respond-to(desktop) {
    main {
        @extend .size-container;
        max-width: 1300px;
        
                .galeria-index {
    
                    grid-template-columns: repeat(3, 300px);
                    grid-template-rows: repeat(2, auto);
                    grid-template-areas:
                        "img1 img2 img3"
                        "img1-txt img2-txt img3-txt";
                }
    }
}

